<div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-12 ">
    <div class="row">
        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-12 index_box" >
            <%= image_tag("7.jpg" , class: "imge img-fluid ")%>
            <div  class="quotes_contact">
                <span class="text"><b>
                    <font face="life" color="#FFFFFF" size="4">
                        <span style="font-size:18px;line-height:23px;">
                            Our team will be happy to serve you...<br soft>
                        </span>
                    </font></b>
                </span>        
            </div>
        </div>
    </div>
</div>
        
